/*CSS Reset*/
* {margin:0;
	padding:0;}
table {
	border-collapse:collapse;
	border-spacing:0;
	padding:0;}

fieldset,img { 
	border:0;
	padding:0;}

address,caption,cite,code,dfn,em,strong,th,var {
	font-style:normal;
	font-weight:normal;}

ol,ul {
	list-style:none;
}
caption,th {
	text-align:left;
}
h1,h2,h3,h4,h5,h6 {
	font-size:100%;
	font-weight:normal;
}
q:before, q:after {
	content:'';
}
abbr,acronym { border:0;}

a {margin:0;
	padding:0;
	text-decoration:none;
	color:white;
	font-style:oblique;}

a:hover {color:#8A264E;
	text-decoration:none;}

body {
	background-color: #000000;
	margin:0;
	padding:0;
	font-family: "Trebuchet MS","Palatino Linotype",Palatino, Georgia Serif, Helvetica Sans-Serif;
	color:white;}

#main_container {
	margin:0 auto 0 auto;
	width:754px;
	position:relative;}

/*#main_container h1 {display:none;}*/

.splash {
	text-align:center;
	margin:15% auto;
	padding:0;}

.splash h1 {
	display:none;}

/*splash page */
body.splash {
	background:url(../i/wp-bg.jpg)  0 0 repeat-x;
	margin:0;
	padding:0;}



/*Navigation*/
#navbar{ margin-left:-20px ;
	position:relative; 
	font-size:1em;
	height:150px;}

/*Footer*/

#footer { 
	position:absolute;
	margin:30px auto 0 auto;}

#footer ul li{
	list-style:none;
	display: block;}

/*collection*/
#collection, #updates, #contact, #about_us, { 
	position:relative;
	width:100%;
	margin: 0;}

div.frm { 
		margin:0;
		padding:0;}

/*Product*/

#product_container { 
	width:100%;
	position: absolute; 
	margin:30px 0 0 0;}

.product {
	height:240px;
	width:177px;
	float:left;
	background:#161613;
	position:relative;
	margin:0 15px 0px 0;}


.product img {
	position: absolute;
	top:0;
	left:0;
	border:solid 2px #8399AF;}

.captionfull .boxcaption {
	top:260px;
	left:0;}

.product-last {
	height:240px;
	width:177px;
	position:relative;
	float:left;
	background:#161613;
	margin:0;}
	
.product-last img {
	position: absolute;
	top:0;
	left:0;
	border:solid 2px #8399AF;}


.details {
	font:.8em Georgia, Serif;

	z-index:5;}

.addtocart_btn {background:url(../images/sg_buttons.png) no-repeat 0px -56px;
	display:block;
	border:none;
	outline:none;
	height:28px;
	width:84px;
	padding:0;
	margin:0 0 0 120px;}

.addtocart_btn:hover {background-position: 0px -84px;}

.viewcart_btn {background:url(../images/sg_buttons.png) no-repeat 0 0;
	display:block;
	outline:none;
	height:28px;
	width:84px;
	padding:0;
	margin:-48px 0 0 10px;}

.viewcart_btn:hover {background-position: 0 -28px;}

.arrowleft {background:url(../images/arrows_new.png) no-repeat 0 -60px;
width:30px;
height:60px;
margin-top:60px;
margin-left:-40px;}
.arrowleft:hover {background-position:0 0px;}

.arrowright {background:url(../images/arrows_new.png) no-repeat -30px -60px;
	width:30px;
	height:60px;
	margin-top:-60px;
	margin-left:760px;
}
.arrowright:hover {background-position: -30px 0px;}
/*Individual Product Pages*/

#productpage_container {background: url(../i/wp-bg.jpg) 0 0 no-repeat;
	width:100%;height:900px;
	position:relative; 
	margin:0;}
span.productname {font-size:1.5em;
	width:400px;
	position:absolute;}
/*from old site*/
		
/*FAQ*/

#faq_section h2, #terms h2 {
	font-size:1.3em;
	font-weight;bold;
	color:#8A264E;}

#faq_section h1, #terms h1{
	font-family:Georgia;
	font-size:1.8em;
	color:#8A264E;
	margin:0;
	padding:0;}

#faq_section span { font-weight:bold;
	font-size:1.05em;}

#faq_section a {color:#8A264E;}

#faq_section a:hover {color:#ffffff;}

#faq_section p, #terms p {margin:21px 0 10px 0;}

#faq_section table, th, td {padding:0 10px 0 10px;}
 #faq_section th {border-bottom: 1px solid #ffffff;
 	border-top:1px solid #ffffff;}

/* site header */
#header{ 
	 margin: 0 0 14px 0;
	 padding:28px 0;
	 height:200px;
	 width: 367px;
	 top:0; left:120px;
	 position:absolute;
	 border:2px solid #000;
} 
#header h1 {text-indent:-9999px; background:url(../images/sglogo_small.png) no-repeat 0 0;
	 width:327px;
	 height:197px;
	 margin:0 auto;
}
#header h1 a { width:100%;
	       height:100%;
	       display:block; 
}
#header a.selected { color:#911; 
}
#header #social { width:367px;
	 clear:both;
	 float:left;
	 margin: 14px 0 14px 21px;
         display:none;
}
#header #social li{ float:left;
	 margin: 0 0 0 7px;}

.facebook { background:url(../images/sg_buttons.png) no-repeat -146px 0;
	width:25px;
	height:25px; 
	display:block;}

.twitter { background:url(../images/sg_buttons.png) no-repeat -171px 0;
	width:25px;
	height:25px;
	display:block;
	position:absolute;
	margin-top:-43px;
	margin-left:600px;}

a#youtube{ background:url(../i/youtube-32x32.png) 0 0 no-repeat;
	width:32px;
	height:32px;
display:block;
	text-indent:-9999px;
}
a#flickr{ background:url(../i/flickr-32x32.png) 0 0 no-repeat;
	width:32px; 
	height:32px; 
	display:block; 
	text-indent:-9999px; }

a#rss{ background:url(../i/feed-32x32.png) 0 0 no-repeat; 
	width:32px; 
	height:32px; 
	display:block; 
	text-indent:-9999px;
}
#email_signup { display:none;
}

/* about & updates */

#about_us h3,#updates h3 { margin: 0 0 14px 14px;
	font-size:2em; }

#updates ul{
	display:block;}

#updates li{ float:left;
	font-family:Georgia;  
	font-size:17px; 
	line-height:1.075; 
	padding:0 14px 21px 14px;
	margin: 0; }

#updates li small { float:left;  
	width:100%; 
	font-size:13px; 
	font-style:italic; 
	color:#CCC; 
	margin:3px 0 0 0;
}

#about_us br { margin: 0 0 21px 0px; }



/* design elements */
#shadow{background:url(../i/shadow.png) left top repeat-x;
	width:100%;
	height:100%; 
	position:fixed; 
	*position:absolute;
	left:0;top:0;
	z-index:-1;
}
